* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
	margin-top: 20px;
}
.container {
	max-width: 1000px;
	padding: 50px;
	margin: 0 auto;
}

.slider-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-slider {
	display: flex;
	align-items: center;
	margin-top: 10px;
	justify-content: center;
	margin-bottom: 30px;
}

.image-slider img {
	width: 350px;
	height: 350px;
	object-fit: contain;

	position: absolute;
}

.image-slider button {
	background-color: orange;
}

.image-wrapper {
	margin: 0 10px;
	position: relative;
	text-align: left;
	width: 350px;
	height: 350px;
	overflow: hidden;
}

.slide-right-enter {
	transform: translateX(100%);
}

.slide-right-enter-active {
	transform: translateX(0%);
	transition: transform 400ms ease-in-out;
}

.slide-right-exit {
	transform: translateX(0%);
}

.slide-right-exit-active {
	transform: translateX(-100%);
	transition: transform 400ms ease-in-out;
}

.slide-left-enter {
	transform: translateX(-100%);
}

.slide-left-enter-active {
	transform: translateX(0%);
	transition: transform 400ms ease-in-out;
}

.slide-left-exit {
	transform: translateX(0%);
}

.slide-left-exit-active {
	transform: translateX(100%);
	transition: transform 400ms ease-in-out;
}
button {
	width: 45px;
	height: 45px;
	font-size: 20px;
}

.thumbnails {
	list-style: none;
	display: flex;
	align-items: center;
}

.thumbnails li {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
	margin-right: 10px;
	width: 60px;
	height: 60px;
}
.thumbnails li:last-child {
	margin-right: 0px;
}

.thumbnails li.active {
	border-color: purple;
}

.thumbnails li img {
	width: 55px;
	height: 55px;
	object-fit: contain;
}
